<h1>We Have Products!</h1>

<%= link_to "Create New Product", new_product_path, class: "button" %>

<table id="products">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.images.attached? %>
            <%= image_tag product.images.first.variant(resize_to_limit: [250, 250]), style: "max-width: 50px;" %>
          <% end %>
        </td>
        <td><%= product.name %></td>
        <td>
          <%= link_to "View", product_path(product), class: "button" %>
          <%= link_to "Edit", edit_product_path(product), class: "button" %>
        </td>
        <td>
          <%= button_to "Delete", product_path(product), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
